<div class="container">
  <h3 class="text-center">Contact Us</h3>   
  
  <%= form_for "/contacts" do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.label :comments %>
    <%= f.text_area :comments %>
    
    <%= f.submit 'Submit' %>
  <% end %>
</div>
